<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <span class="icon icon--facebook">
                <img src="#" class="svg-icon facebook" alt="Facebook"></i>
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

<!-- Javascript -->
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/swipebox.min.js"></script>
<script src="/javascript/ios-orientation-fix.js"></script>

<script type="text/javascript">
;( function( $ ) {

  $( '.swipebox' ).swipebox();

} )( jQuery );
</script>
