body {
  font-family: 'Roboto', sans-serif;
}

#mainContainer {
  position: relative; /* needed for footer positioning*/
    margin: 0 auto; /* center, not in IE5 */
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: 100%; /* real browsers */
}

#topSeperator {
  //padding-top:40px;
}

.navbar-nav.nav-justified > li{
    float:none;
}

#bannerContainer {
  background-image:(url("/images/backBox.png"));
  background-repeat:repeat-x;
  width:100%;
  height:220px;
  display:table;
  padding:0;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  padding-left: 0;
  position:relative;
}

.bannerLogo {
  background-size: 100% auto;
  max-width:460px;
  max-height:160px;
  margin-left: auto;
  margin-right: auto;
  display:table-cell;
  text-align:center;
  vertical-align: middle;
  padding-right: 0;
  padding-left: 0;
  float: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#navContainer {
  width:100%;
  height:60px;
  background-color:#fff;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

@media (min-width: 992px){
  .container{
    max-width:100%;
  }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
