<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="topSeperator"></div>
    <div class="container-fluid">
      <div class="row">
        <div id="bannerContainer">
          <div class="bannerLogo center-block">
            <img src="/images/mfcLogo.png" class="img-responsive"></img>
          </div>
        </div>

        {% include navigation.html %}

        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>

        {% include footer.html %}

      </div>
    </div>
  </body>

</html>
